@import "tailwindcss";

@theme {
  /* Cores baseadas no Design */
  --color-surface: #f8f9fb; /* Fundo geral mais claro */
  --color-on-surface: #1e293b;
  --color-primary: #004BFF; /* Azul forte da marca/brochure */
  --color-secondary: #008554; /* Verde esmeralda dos botões */
  --color-secondary-hover: #006b43;
  --color-surface-container-high: #f1f5f9;
  --color-surface-container-low: #ffffff;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
}